/**
 * Layout
 * Major components eg Header, 
  *footer and sidebar
 */

/**
 * Page Header
 */
#page-header{ 
	padding:20px 0; 
}

/**
 * Content top
 */
#content-top{ 
	margin-bottom:20px;
 }

/**
 * Content bottom
 */
#content-bottom{ 
	margin-top:20px; 
}

/**
 * Footer
 */
#footerwrap{
	z-index: 1001;
	margin-top: 20px;
}